.box{
    width: 200px;
    height: 50px;
    margin-left: 200px;
    /* background-color:lavenderblush; */
}
body{
    background-image:url(./images/wallpaper.jpg);
    background-size: cover;
}
input{
    color: aliceblue;
    border-bottom: black;
    border-right: black;
}
button{
    height: 65px;
    width: 40px;
    border: whitesmoke;
    background-color: white;
}
.butt{
    margin-left: 200px;
    width: 200px;
    height: 260px;
    background-color: white;
}
.rowone{
    display: flex;
}
.rowtwo{
    display: flex;
}
.rowthree{
    display: flex;
}
.rowfour{
    display: flex;
}